{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  






  <div class="opening-text">
    
  <p>Welcome to the Mandens business listing system. In order to list you Fish & Chip Business for sale we need to collect some information regarding both you as the legal owner of the business as well as some trading information on the business. </p>
  
  <p>Please firstly create an account below and then once signed in you will be able to enter your personal details followed by the business details. </p>
  
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  </div>
  <div class="main-container">
<div id="signup-form-container">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit"  class="btn btn-secondary btn-lg">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
</div>
{% endblock %}
