.navbar {
    background-color: #013144;

}

#logo{
    width: 30%;
}

.business_list_container{
    
    padding-top: 25px;
}

#outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    padding-top: 10px;
}


#login-form-container{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    background-color: #013144;
    border-radius: 5px;
}

#login-fields{
    width: 70%;
}

.login-inputs{
    background-color: red;
}

#business_list{
    display: block;
    width: 80%;   
}

.accordion-body{
    background-color: #f1f1f1;
}



label {
    
}

label:hover {
    background: #4E8774;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}

p {
    color: #013144;
}

#business-name {
    color: #18b0a6;
}

i {
    color: #18b0a6;
}
.tick {
    color: rgb(13, 209, 13);
}

.cross{
    color: red;
}

#business-name-detail{
    color: #777575;
    display: block;
}

.fa-bath {
    padding-left: 15px;;
}

.label {
    color:#18b0a6;
}

#text-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

#opening-text{
    padding-top: 25px;
    width: 50%;
    text-align: center;
    color: #555454;
    font-family: Tajawal, sans-serif;
}





.form-container{
    display: flex;
    justify-content: center;
    
}


#vendor-form{
    color: #18b0a6;
    width: 65%;
    

}

#test-style{
    height: 20px;
    width: 20px;
    background-color: red;
}

.subtext{
    font-size: small;
    color:#18b0a6
}