.hero-image-container{
    width: 100%;
    height: 500px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 100%;
    background: url('https://res.cloudinary.com/dsfs7ojvl/image/upload/v1696237024/static/images/hero-image.456e8b8435e9.jpg') no-repeat center center;
    background-size: cover;
}

.hero-text-box{
    margin-left: 15px;
    padding: 20px;
    letter-spacing: 2px;
    color: #fff;
    width: 75%;
    background-color: rgba(0, 49, 69, 0.7);
    top: 100px;
    position: absolute;
}

#hero-header{
    color: #fff;
    font-family: Tajawal, sans-serif;
    font-size: medium;
    padding-top: 15px;
}

.hero-text{
    color: #fff;
    font-family: Tajawal, sans-serif;
    font-size: small; 
    padding-top: 15px;  
}

.navbar {
    background-color: #013144;
}

.navbar-toggler{
    color: #fff;
    
}

.full-width{
    width: 100%;
}

#strip{
    width: 100%;
    height: 5px;
    background-color: #1bb1a6;
}

.short-strip{
    width: 25%;
    height: 2px;
    background-color: #1bb1a6;
    margin: auto;
    margin-bottom: 20px;
}

#logo{
    width: 30%;
}

#signup-form-container{
    border-radius: 5px;
    font-family: Tajawal, sans-serif;
}

.signup{
    display: block;
}


.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding-top: 10px;
    width: 85%;
    display: block;
    text-align: center;
}

.business_list_container{
    display: flex;
    justify-content: center;
}

#outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    padding-top: 10px;
}


#business_list{
    display: block;
    width: 80%;   
}

.accordion-body{
    background-color: #f1f1f1;
}

.content {
    background: #E2E5F6;
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}

.overview-label{
    font-family: Tajawal, sans-serif;
    font-size: 14px;
    color: #18b0a6;
    line-height: 5px;
}

.overview-info{
    font-family: Tajawal, sans-serif;
    font-size: 14px;
    color:#777575;
    line-height: 1px;
}

p {
    color: #013144;
}

.accordion-button:not(.collapsed){
    background-color: #013144;
    color: #fff;
}

.accordion-button:focus{
    background-color: #013144;
    color: #fff;
}

.accordion-button{
    background-color: #013144;
    color: #fff;
}

#business-name {
    color: #18b0a6;
}

i {
    color: #18b0a6;
}
.tick {
    color: rgb(13, 209, 13);
}

.cross{
    color: red;
}

#business-name-detail{
    color: #777575;
    display: block;
}

.fa-bath {
    padding-left: 15px;;
}

.label {
    color:#18b0a6;
}

#text-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.opening-text{
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 75%;
    text-align: center;
    color: #555454;
    font-family: Tajawal, sans-serif;
}


.form-container{
    display: flex;
    justify-content: center;
}


#vendor-form{
    color: #18b0a6;
    width: 65%;
}

.subtext{
    font-size: small;
    color:#18b0a6
}
.overview-heading{
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: Tajawal, sans-serif;
    color: #555454;
}


#vendor-info{
    width: 75%;
    align-items: center;
    
}

.text-area{
    background-color: white;
    border: #013144, 1px;
    padding: 2px;
    margin: 0, 5px;
}


.btn-like{
    border: none; 
}

.btn-edit{
    background-color: #fff;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #013144;
}

.footer-text{
    font-family: Tajawal, sans-serif;
    color: #fff;
    padding-top: 15px;
    letter-spacing: 5px;
    text-decoration: none;
}


/*Screens smaller than 700px*/
@media only screen and (max-width: 700px) {

    .hero-image-container{
        width: 100%;
        overflow: scroll;
    }

    .hero-text-box{
        top: 2px;
        width: 95%;
        height: auto;
    }

    #hero-image {
        width: 100%;
        height: 120%;
        background-size: cover;
    }


}