{% extends "base.html" %}

{% block content %}

<section class="hero-image-container">
    <div id="hero-image">
        <div class="hero-text-box"> 
            <h1 id="hero-header">THE LEADING FISH & CHIP BUSINESS TRANSFER AGENTS & VALUERS</h1>
            <P class="hero-text">Established for over 50 years, we have a unique in depth knowledge of all aspects of the trade.</P>
            <P class="hero-text">We offer a confidential yet highly efficient service to owners of fish and chip businesses whether it is a take away or has restaurant seating. We have close contacts with many people in the trade including the operators that have multiple shops. We pride ourselves on the longstanding nature of many of our client relationships.</P>
            <P class="hero-text"><strong>In order to list you Fish & Chip Business for sale we need to collect some information regarding both you as the legal owner of the business as well as some trading information on the business.</strong></P>
        <div>
            <a class="btn btn-light" href="{% url 'account_signup' %}">Register</a>
            <a class="btn btn-light" href="{% url 'account_login' %}">Log In</a>
        </div>
        </div>
    </div>
    </section>

{%endblock%}